@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@300&family=Nunito+Sans:wght@200&display=swap");
/* Reset */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@300&family=Nunito+Sans:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*etiquetas de tipografia*/
.fontMerri {
  font-family: "Merriweather", serif;
}

.fontNunito {
  font-family: "Nunito Sans", sans-serif;
}

.fontDancing {
  font-family: "Dancing Script", cursive;
}

/*etiquetas fondo color*/
.bgTierra {
  background-color: rgb(170, 170, 170);
}

.bgVerdeOscuro {
  background-color: rgb(96, 171, 174);
}

.bgVerdeApagado {
  background-color: rgb(159, 204, 206);
}

.bgVerdeManzana {
  background-color: rgb(183, 210, 81);
}

.bgBlanco {
  background-color: rgb(255, 255, 255);
}

/*etiquetas font size*/
.tp-small {
  font-size: 0.8rem;
}

.tp-medium {
  font-size: 1rem;
}

.tp-large {
  font-size: 2rem;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w95 {
  width: 95%;
}

.w100 {
  width: 100%;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  line-height: 3.5rem;
}

h2 {
  font-family: "Merriweather", serif;
  color: rgb(96, 171, 174);
  font-size: 1.3rem;
  text-align: center;
  line-height: 1.8rem;
}

h3 {
  font-family: "Merriweather", serif;
  color: #f1f1f1;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.5rem;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-size: 0.8em;
  text-align: center;
}

h5 {
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  color: rgb(170, 170, 170);
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.2em;
}

#contenedor-grid-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "videx" "nindex1" "pindex1" "nindex2" "footer";
}

#contenedor-grid-rutinas {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "nota" "nota1" "nota2" "video" "aside" "publi" "publi1" "footer";
}

/* GRID RUTINAS */
#header {
  grid-area: header;
}

#nota {
  grid-area: nota;
}

#videos {
  grid-area: video;
}

#nota1 {
  grid-area: nota1;
}

#publicidad {
  grid-area: publi;
}

#publicidad1 {
  grid-area: publi1;
}

#aside {
  grid-area: aside;
}

#nota2 {
  grid-area: nota2;
}

#footer {
  grid-area: footer;
}

/* Etiquetas Grid de Rutina */
@media (min-width: 768px) {
  #contenedor-grid-rutinas {
    display: grid;
    grid-template-columns: 65vw 35vw;
    grid-template-areas: "nota aside" "nota1 aside" "video nota2" "publi1 publi" "footer footer";
  }
}
@media (min-width: 1024px) {
  #contenedor-grid-rutinas {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, auto);
    height: auto;
    -moz-column-gap: 3px;
         column-gap: 3px;
    row-gap: 3px;
    justify-content: center;
    grid-template-areas: "video  nota nota nota aside" "publi nota1 nota1 nota1 aside" "publi1 nota1 nota1 nota1 aside" "nota2 nota2 nota2 nota2 aside";
  }
}
/* Etiquetas grid de Index */
#video-index {
  grid-area: vindex;
}

#nota1-index {
  grid-area: nindex1;
}

#nota2-index {
  grid-area: nindex2;
}

#publi1-index {
  grid-area: pindex1;
}

#publi2-index {
  grid-area: pindex2;
}

@media (min-width: 768px) {
  #contenedor-grid-index {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "videx videx" "nindex1 nindex1" "nindex2 pindex1";
  }
}
@media (min-width: 1024px) {
  #contenedor-grid-index {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    height: auto;
    -moz-column-gap: 3px;
         column-gap: 3px;
    row-gap: 3px;
    justify-content: center;
    grid-template-areas: "vindex vindex vindex vindex" "nindex1 nindex1 nindex1 nindex1" "nindex2 nindex2 nindex2 pindex1" "nindex2 nindex2 nindex2 pindex1";
  }
}
@media (max-width: 664px) {
  #ocultar {
    font-size: 2rem;
  }
}
/* responsive de recetas */
@media (max-width: 1024px) {
  #videoReceta {
    flex-direction: colum;
  }
  #containerAddress {
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .foto_cabecera2 {
    display: none;
  }
  .foto_cabecera3 {
    display: block;
  }
}
header div p {
  font-family: "Dancing Script", cursive;
  font-size: 60px;
  color: #ffffff;
  padding: 30px;
}

.logo {
  padding: 10px 50px 20px;
}

.containerEncabezado {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.notasDeInteres {
  width: 70%;
  height: auto;
  margin: 30px 40px 30px 10px;
  padding: 20px;
  border: #9fccce solid 3px;
  background-color: #ffffff;
  line-height: 2rem;
}

/* etiquetas de bloque */
.scale:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: transform 2s;
}

.flexGrow1 {
  flex-grow: 1;
}

.flexGrow5 {
  flex-grow: 5;
  text-align: right;
}

.containerIntroHojas {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
}

.container-footer {
  display: flex;
  width: 100%;
  background: linear-gradient(to top, #b7d251, #60abae);
}

div section article p {
  color: black;
}

main {
  padding: 0%;
  width: 100%;
  line-height: 2rem;
  text-align: center;
  background-color: #ffffff;
}

.formulario {
  padding: 20px 20px 20px 20px;
}

/* ETIQUETAS DE NOSOTROS */
.contenedorNosotros {
  padding: 20px;
  align-content: center;
  align-items: center;
  text-align: center;
}

.notasDeNosotros {
  width: 100%;
  margin: 25px 0 25px 0;
  padding: 20px;
  border: #b7d251 solid 4px;
  background-color: #9fccce;
}

.containerAddress {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

address div h3 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 2rem;
}

/* ETIQUETAS DE INDEX */
.headerIndex {
  align-items: center;
  text-align: center;
}

.containerArticulosIndex {
  padding: 10px;
  margin: 10px;
  border: 4px solid #b7d251;
  background-color: baseline;
  align-content: #ffffff;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

/* ---ETIQUETAS DE COCINA---*/
.containerVideosRecetas {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  background-color: #aaaaaa;
  justify-content: space-around;
}

.videoReceta {
  padding: 10px;
}

.containerRecetasCocina {
  display: flex;
  margin: auto;
  padding: 15px;
  background-color: #9fccce;
  width: 100%;
  height: auto;
}

.boxRecetasCocina {
  Padding: 10px;
  margin: 15px;
}

.containeru {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

/* ETIQUETAS MERCADO */
.bodyMercado {
  width: 100%;
  height: 100%;
  font-family: "Nunito Sans", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: "Merriweather", serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.container .card {
  width: 330px;
  height: 400px;
  border-radius: 9px;
  box-shadow: 0 4px 4px #60abae;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.25s;
}
.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img {
  width: 220px;
  height: auto;
}

.container .card h4 {
  font-family: "Merriweather", serif;
  font-size: 20px;
  font-weight: 800;
}

.container .card p {
  font-family: "Nunito Sans", sans-serif;
  padding: 0 2rem;
  font-size: 16px;
}

/* ---ETIQUETAS RUTINA ----*/
.containerVideoRutina {
  margin: 10px;
  border: 4px solid #b7d251;
  padding: 5px;
  color: #000;
}

.containerArticulos {
  padding: 10px;
  margin: 10px;
  border: 4px solid #b7d251;
  background-color: baseline;
  align-content: #ffffff;
  justify-content: center;
}

.containerPubli {
  padding: 10px;
  margin: 10px;
  border: 4px solid #b7d251;
  background-color: center;
  align-content: #9fccce;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.containerAsideRutinas {
  padding: 10px;
  margin: 10px;
  border: 4px solid #b7d251;
  background-color: none;
  align-content: #ffffff;
  justify-content: none;
}

.ups {
  padding: 30px 30px 30px 30px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fondo {
  background: linear-gradient(135deg, #DCDCDC 25%, transparent 25%) -50px 0, linear-gradient(225deg, #DCDCDC 25%, transparent 25%) -50px 0, linear-gradient(315deg, #DCDCDC 25%, transparent 25%), linear-gradient(45deg, #DCDCDC 25%, transparent 25%);
  background-size: 2em 2em;
  background-color: #FFFFFF;
}

.faro {
  text-align: center;
}

#main-container {
  padding-top: 200px;
  text-align: center;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn-green {
  color: white;
  background-color: #3CC93F;
}

.btn-green:hover {
  background-color: #37B839;
}

.btn-green:active {
  background-color: #29962A;
}

#main-container {
  padding-top: 200px;
  text-align: center;
}

.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.btn_color {
  color: #60abae;
  background-color: #60abae;
}

.galeria {
  padding: 16px;
}

.imagen-principal img {
  width: 100%;
  display: block;
}

.lista-imagenes img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
  height: auto;
  margin-right: 10px;
}

.lista-imagenes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

/*etiquetas de movimiento carrousel*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mov {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #aaaaaa;
}

.card {
  position: relative;
  width: 270px;
  height: 335px;
  margin: 20px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .front h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 1em;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #60abae;
  padding: 15px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #ffffff;
}

.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back h2 {
  margin-top: 20px;
  letter-spacing: 1px;
  color: #ffffff;
}

.card .back p {
  letter-spacing: 1px;
  font-size: 0.8em;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.btn {
  background-color: #ffffff;
  border-radius: 3px;
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  box-shadow: 0 2px 2px black;
}

header nav ul li a:hover {
  text-transform: uppercase;
  color: #ffffff;
}

.navgg {
  align-items: center;
  align-content: center;
  text-align: center;
}

/* etiquetas footer */
.container-footer {
  flex-direction: column;
}

.redes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 1rem 2rem;
  text-decoration: none;
}
.redes li {
  margin: 0 10px;
}
.redes li a i {
  font-size: 3em;
  color: #ffffff;
  padding: 10px;
}
.redes li a i:hover {
  color: #b7d251;
  font-size: 3rem;
}/*# sourceMappingURL=main.css.map */